.box {
  max-width: 280px;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 90001111111111111111111111;
}

.alert {
  background-color: lightcoral;
}
.success {
  background-color: rgb(105, 185, 25);
}
.successSended {
  transform: translate(-50%, -50%);
  background-color: rgb(105, 185, 25);
  top: 25%;
  left: 50%;
  text-align: center;
}
.userInfo {
  background-color: rgb(105, 185, 25);
  top: 75%;
  left: 70%;
  text-align: center;
}
.userInfo:hover {
  background-color: rgb(83, 148, 17);
}
@media (max-width: 897px) {
  .userInfo {
    top: 81%;
    left: 28%;
  }
}
@media (min-width: 768px) {
  .box {
    max-width: 512px;
  }
}

@media (min-width: 1280px) {
  .box {
    max-width: 530px;
  }
}
