.header {
  background-color: var(--headerColor);
  padding: 0;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -2px 7px 8px rgba(57, 63, 72, 0.3);
}
.menu {
  display: flex;
  justify-content: space-between;
  color: #f0f8ff;
  text-transform: uppercase;
  width: 600px;
}
.logo {
  color: #ffb101;
  text-shadow: #332f1e 1px 0 0px;
  font-size: 20px;
}
