.container {
  padding: 20px;
  text-align: center;
}
.contact_info {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primaryColor);
  text-shadow: 1px 1px #000000;
}
.contact_info_location {
  margin: 0px 0px 20px;
}

.subtitle {
  padding: 0px 0px 15px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 0px 6px 26px rgb(0 5 97 / 10%);
  background: rgba(222, 243, 255, 0.3);

  border-radius: 4px;
  transition: all 250ms;
}
.primaryContainer {
  margin-bottom: 40px;
}
.secondaryContainer {
}
.button {
  text-decoration: underline !important;
  color: var(--primaryColor) !important;
}
.button span {
  color: var(--primaryColor) !important;
}
/* background-image: linear-gradient(rgba(255,0,0,.5), rgba(255,245,215,.5)) */

@media (min-width: 767px) {
  .container {
    padding-top: 80px;
  }
}
@media (min-width: 980px) {
}
@media (min-width: 1280px) {
  .subtitle {
    margin-bottom: 40px;
  }
}
