.container {
  padding: 20px;
  text-align: center;
}
.contact_info {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: var(--primaryColor);
  text-shadow: 1px 1px #000000;
}
.contact_info_location {
  margin: 0px 0px 20px;
}
.contact_info_schedule {
  margin-bottom: 12px;
  background-color: rgba(241, 241, 241, 0.4);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  text-align: center;
  padding: 0px 0px 0px 25px;
  font-weight: 400;
  color: #555252;
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 250ms;
}
.contact_info_schedule:hover,
.contact_info_schedule:focus {
  background-color: rgba(241, 241, 241, 0.6);
}
.contact_info_schedule span {
  margin: 0 auto;
}
.contact_info_contacts {
  composes: contact_info_schedule;
}
.contact_info_contact {
  text-decoration: underline;
}
.subtitle {
  padding: 0px 0px 15px;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 0px 6px 26px rgb(0 5 97 / 10%);
  background: rgba(222, 243, 255, 0.3);

  border-radius: 4px;
  transition: all 250ms;
}
.primaryContainer {
}

@media (min-width: 767px) {
  .container {
    padding-top: 80px;
  }
}
@media (min-width: 897px) {
  .contact_info_schedule {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
}
@media (min-width: 1000px) {
  .contact_info {
    width: 400px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .subtitle {
    margin-bottom: 40px;
  }
}
