.title {
  text-align: center;
  background-color: #f0f8ff;
  padding: 40px;
  box-shadow: 0px -11px 7px 8px rgb(57 63 72 / 30%);
}
.cart_empty {
  padding: 25px;
}
.price_container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.price {
  font-weight: 600;
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 185px;
}
.price span {
  font-weight: 500;
}
.form {
  display: flex;
  flex-direction: column;
  padding: 80px;
}
.tariff {
  display: flex;
  justify-content: center;
}
.abonent {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.containerBtn {
  margin: 0 auto;
}
.sectionForm {
  display: grid;
  grid-template-rows: 1fr 200px;
}
.container_buttonForm {
  position: absolute;
  bottom: 110px;
  right: 150px;
}
.container_details_btn {
  display: flex;
  justify-content: center;
}
.price_container_fliped {
  display: grid;
  grid-template-rows: 77px 77px 77px;
  margin: 0px 0px 0px 60px;
  width: 250px;
  height: 230px;
}
@media (max-width: 897px) {
  .price_container_fliped {
    grid-template-rows: 56px 56px 56px;
  }

  .price_container {
    display: inline-block;
    position: fixed;
    right: 8px;
    left: 533px;
  }
  .form {
    padding: 0px;
  }
  .abonent {
    width: 265px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .title {
    padding: 13px 0px 23px 0px;
    text-align: center;
    font-size: 18px;
  }
  .price {
    width: 197px;
    text-align: start;
    margin-bottom: 20px;
    padding: 0px 1px 0px 0px;
  }
  .price_container {
    position: inherit;
    line-height: 19px;
    background: #f0f8ff;
    display: grid;
  }
  .price_container_fliped {
    margin: 0 auto;
  }
  .container_details_btn {
    margin-bottom: 30px;
  }
  .container_buttonForm {
    position: inherit;
    margin: 0 auto;
  }
}

@media (min-width: 630px) and (max-width: 896px) {
  .price_container {
    grid-template-columns: 204px 215px 193px;
  }
  .price {
    align-items: flex-start;
    border-right: 1px solid rgba(125, 125, 125, 0.3);
    padding: 0px 5px 0px 0px;
  }
  .price:nth-child(2n) {
    width: 200px;
  }
  .price:last-of-type {
    border: none;
  }
}
@media (min-width: 897px) {
  .container {
    display: grid;
    grid-template-columns: 564px 153px;
  }
  .price_container {
    display: inline-block;
    position: fixed;
    right: 8px;
    left: 533px;
  }
  .price {
    margin-bottom: 30px;
    padding: 16px;
  }
}
