.container {
  min-height: 100vh;
  position: relative;
  background-image: url(../../assets/img/background-mobile.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0px;
    background-image: url(../../assets/img/background-mobile.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.container {
  background-size: cover;
}
.background {
  overflow: hidden;
  /* background-color: #e7eaf2; */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 1630px) {
  .container {
    padding: 0px 0px 134px;
  }
}
