.container {
  position: relative;
  margin-bottom: 10px;
}
.big_size {
  margin: 0 auto;
  margin-bottom: 10px;
  height: 70px;
  width: 400px;
}
.shop_size {
  height: 50px;
  width: 100px;
}
@media (max-width: 767px) {

}
