.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.modalBase {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  padding: 60px 20px;
  background-color: var(--formColor);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow-y: auto;
}
/* .modalBase {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  top: 60px;
  padding: 60px 20px;
  background-color: var(--formColor);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)),
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  overflow-y: auto;
} */

.right,
.left,
.center,
.centerShop {
  composes: modalBase;
}
.center {
  width: 100%;
  height: 97vh;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--whiteColor);
}
.closeBtn {
  height: 18px;
  width: 18px;
  z-index: 1000;
  position: absolute;
  top: 10px;
  right: 5px;

  background-image: url('../../assets/icons/Close.icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

.centerShop {
  width: 100%;
}
@media (max-width: 767px) {
  .centerShop{
    top: 38px;
  }

  .modalBase {
    background-color: var(--whiteColor);
    padding: 0px;
    height: 100%;
  }
  .center{
    top: calc(50% - -38px);
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .modalBase {
    background-color: var(--whiteColor);
    height: 100%;
    top: 0;
    width: 512px;
  }

  .closeBtn {
    right: 10px;
    z-index: 100000;
  }

  .right {
    right: 0;
  }
  .left {
    left: 0;
  }

  .center {
    width: 688px;
    height: 372px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centerShop {
    width: 742px;
    height: 679px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 0px 0px;
  }
}

@media (min-width: 1280px) {
  .center {
    width: 800px;
    min-height: 400px;
  }

  .centerSmall {
    width: 400px;
  }
}
