.nav_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 168px;
}
.button {
  width: 100%;
  padding: 10px 10px 10px 0px;
  background: transparent;
  font-size: 16px;
  text-align: start;
}
.container_buttons {
  margin-right: 40px;
}
.qty {
  position: absolute;
  top: 5px;
  left: 31px;
  font-size: 14px;
  color: rgb(245, 236, 116);
  text-shadow: 1px 1px #332f1e;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 228, 196, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 897px) {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerColor);
    padding: 0;
    box-shadow: 0px -2px 7px 8px rgba(57, 63, 72, 0.3);
  }
}
.buttonChangeLang {
  background: transparent;
  font-size: 16px;
  padding: 5px;
  margin: 0px 10px 0px 0px;
  color: #ffffff;
  text-shadow: 1px 1px #000000;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 250ms;
}
.buttonChangeLang:hover,
.buttonChangeLang:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
@media (min-width: 898px) {
  .buttonChangeLang {
    background: transparent;
    font-size: 16px;
    padding: 5% 15px;
    color: #ffffff;
    transition: all 250ms;
    margin: 0;
    font-weight: 500;
    text-shadow: 0px 0px #000000;
  }
}

@media (min-width: 350px) {
  .nav_mobile {
    width: 200px;
  }
}

@media (min-width: 400px) {
  .nav_mobile {
    width: 223px;
  }
}
