
.header {
  background-color: var(--headerColor);
  padding: 0;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0px -2px 7px 8px rgba(57, 63, 72, 0.3);
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f8ff;
  text-transform: uppercase;
  width: 350px;
}
.menu a {
  padding: 5% 18px;
  transition: all 250ms;
}
.menu a:hover,
.menu a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.logo {
  color: var(--primaryColor);
  text-shadow: #332f1e 2px 0 0px;
  font-size: 23px;
  transition: all 350ms;
}
.logo:hover,
.logo:focus {
  transform: scale(1.05);
}
.qty{
  position: absolute;
  top: 5px;
  left: 31px;
  font-size: 14px;
  color: rgb(245, 236, 116);
  text-shadow: 1px 1px #332f1e;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 228, 196, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}