.qty {
  text-align: center;
}
.container {
  padding: 10px 10px 0px 30px;
  display: inline-flex;
  align-items: center;
  height: 110px;
  width: 540px;
}
.icon {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 25px;
}
.container_desc {
  width: 320px;
  line-height: 20px;
  font-size: 14px;
  height: 50px;
}
.container_bth {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  justify-content: space-between;
}

.plus {
  background-color: rgba(0, 128, 0, 0.4);
}
.minus {
  background-color: rgba(243, 124, 124, 0.4);
}
.price {
  text-align: end;
  margin-right: 30px;
  margin-top: 10px;
  font-weight: 700;
}


@media (max-width: 767px) {
  .container_btnAndIcon {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 75px 0px 0px;
  }
  .icon {
    margin: 0px;
  }
  .container {
    padding: 15px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
    height: 295px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 9px 0px rgb(57 63 72 / 30%);
    position: relative;
  }
  .container_desc {
    width: 280px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 20px;
  }
  .container_bth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 127px;
    padding: 0px 0px 10px;
  }
  .plus {
    background-color: rgba(0, 128, 0, 0.4);
  }
  .minus {
    background-color: rgba(243, 124, 124, 0.4);
  }
  .container_bth button {
    width: 50px;
    font-size: 20px;
  }
  .container_bth button:last-of-type {
    width: 50px;
    padding: 5px;
    font-size: 12px;
  }
  .qty {
    text-align: center;
    width: 50px;
    padding: 3px;
  }
  .icon {
    padding: 0px 0px 0px 20px;
  }
}
@media (min-width: 768px) {
  .plus {
    background-color: rgba(0, 128, 0, 0.4);
  }
  .minus {
    background-color: rgba(243, 124, 124, 0.4);
  }
}
