.container {
  padding: 15px 20px 45px;
  text-align: center;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  background-color: rgba(241, 241, 241, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 3px;
}
.card__title {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}
.card__title__cost {
  font-size: 42px;
  color: var(--primaryColor);
  text-shadow: 1px 1px #000000;
}

.card__title__span {
  font-size: 15px;
  vertical-align: top;
}
.card__title__package {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}
.card__container:hover .card__title__package {
  color: #5ca73e;
  transition: all 250ms;
}

.card__speed {
}
.titleOfTariffs {
  background-color: rgb(255 241 119 / 80%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 6px;
  margin: 0px 0px 20px;
  border-radius: 4px;
  font-size: 18px;
}
@media (min-width: 767px) {
  .container {
    padding: 70px 0px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card__container {
    width: 235px;
    margin: 0px 7px 35px 7px;
    padding: 10px;
  }
  .titleOfTariffs {
    height: 44px;
    width: 600px;
    text-align: center;
    margin: 0px 125px 25px;
  }
}
@media (min-width: 800px) {
  .card__container {
    width: 246px;
    margin: 0px 10px 35px 10px;
  }
}
@media (min-width: 978px) {
  .card__container {
    width: 285px;
    margin: 0px 17px 35px 17px;
  }
}
@media (min-width: 1023px) {
  .card__title {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1168px) {
  .titleOfTariffs {
    margin: 0px 283px 25px;
  }
  .card__container {
    width: 350px;
    height: 180px;
    padding: 0;
  }
}
@media (min-width: 1296px) {
  .titleOfTariffs {
    margin: 0px 347px 25px;
  }
}
@media (min-width: 1640px) {
  .titleOfTariffs {
    margin: 0px 444px 25px;
    width: 766px;
  }
}
