.container {
  padding: 15px 20px 213px;
  text-align: center;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 172px;
  background-color: rgba(241, 241, 241, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 3px;
  transition: all 250ms;
}
.card__container:hover,
.card__container:focus {
  background-color: rgba(241, 241, 241, 0.6);
}
.card__container_flipped {
  composes: card__container;
  display: block;
  text-align: center;
  padding: 10px 0px 20px 30px;
  line-height: 19px;
}
.card__container_ul {
  text-align: left;
  line-height: 24px;
}
.card__container_ul li {
  padding: 0px 20px 0px 0px;
}
.card__container_ul li::before {
  content: ' \25A0';
  padding: 10px;
  list-style: square;
}
.card__container_ul li:last-of-type {
  margin-bottom: 5px;
}
.buttonContainer {
  margin-bottom: 5px;
  padding: 0px 25px 0px 0px;
}
.card__title {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}
.card__title__cost {
  font-size: 42px;
  color: var(--primaryColor);
  text-shadow: 1px 1px #000000;
}

.card__title__span {
  font-size: 15px;
  vertical-align: top;
}
.card__title__package {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
}
.card__title__package {
}
.card__container:hover .card__title__package {
  color: #3f51b5;
  transition: all 250ms;
}

.card__speed {
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleOfTariffs {
  background-color: rgb(255 241 119 / 80%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 6px;
  margin: 0px 0px 20px;
  border-radius: 4px;
  font-size: 18px;
}
.container__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}
.notIncluded {
  margin-bottom: 12px;
  background-color: rgba(243, 124, 124, 0.4);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 0px 0px 0px 10px;
  font-weight: 600;
  text-align: center;
  color: #555252;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 250ms;
}
.notIncluded:hover,
.notIncluded:focus {
  background-color: rgba(243, 124, 124, 0.6);
}
.notIncluded span {
  margin: 0 auto;
}
.notIncluded_ul {
  text-align: left;
  line-height: 24px;
  background-color: rgba(241, 241, 241, 0.4);
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 20%);
  max-width: 600px;
}
.notIncluded_ul li::before {
  content: ' \25A0';
  padding: 10px;
  list-style: square;
}
.notIncluded_ul li {
  padding: 10px;
}
@media (min-width: 767px) {
  .container {
    padding: 70px 0px 188px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card__container {
    width: 235px;
    margin: 0px 7px 35px 7px;
    padding: 10px;
  }
  .card__container_ul {
    padding: 0px 18px 0px;
  }
  .titleOfTariffs {
    height: 44px;
    width: 600px;
    margin: 0px 125px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notIncluded {
    margin: 0px 162px 12px 162px;
  }
}
@media (min-width: 800px) {
  .card__container {
    width: 246px;
    margin: 0px 10px 35px 10px;
  }
}
@media (min-width: 978px) {
  .card__container {
    width: 285px;
    margin: 0px 17px 35px 17px;
  }
}
@media (min-width: 1023px) {
  .card__title {
    flex-direction: column-reverse;
  }
}
@media (min-width: 1168px) {
  .titleOfTariffs {
    margin: 0px 283px 25px;
  }
  .card__container {
    width: 350px;
    min-height: 180px;
  }
  .notIncluded {
    margin: 0px 262px 12px 262px;
  }
}
@media (min-width: 1296px) {
  .titleOfTariffs {
    margin: 0px 347px 25px;
  }
}
@media (min-width: 1640px) {
  .notIncluded {
    margin: 0px 444px 12px ;
  }
  .titleOfTariffs {
    margin: 0px 444px 25px;
    width: 766px;
  }
}
